footer {
	margin-top: 100px;
	background: linear-gradient(#004857, #012730);

	.qr {
		width: 150px;
		background-color: white;
		padding: 10px;
		border-radius: 10px;
		box-shadow: 0 0 5px 0 #191919;

		img {
			width: 100%;
			display: block;
			margin: auto;
		}
	}

	.social {
		margin: 10px auto;
		display: flex;
		align-items: center;

		.icon {
			color: #01c8f0;
			font-size: 30px;
			margin: 10px;

			svg {
				fill: #01c8f0;
				max-width: 20px;
			}
		}
	}

	.contact {
		padding: 2vw;
		direction: rtl;

		.address {
			color: white;
		}

		div {
			margin: 5px auto;

			.icon {
				margin: 5px;
				color: #e77809;
			}

			a {
				font-size: 20px;
				color: white;
				text-decoration: none;
			}
		}
	}

	.image {
		background-color: white;
		border-radius: 10px;
		width: 100%;
		border: 6px solid #015d71;
		margin: -50px auto 20px auto;

		img {
			border-radius: 10px;
			width: 100%;
			height: auto;
			display: block;
			margin: 0 auto 20px auto;
		}
	}
}