@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Noto+Kufi+Arabic:wght@300;400;600;800&display=swap');




body {
	background: url('@/assets/bg.png');
	font-family: 'Noto Kufi Arabic', 'Edu SA Beginner';
 

	* {
		font-family: 'Noto Kufi Arabic', 'Edu SA Beginner';
	}
}
